@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --bgmain: #f67e7d;
  --white: #fff;
  --bg2: #482ff7;
  --taskgray: #696969;
  --borderColor: #dbd7d2;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--bgmain);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg2);
  height: 100vh;
  width: 100vw;
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0 38%);
  z-index: -2;
}
.title {
  text-align: center;
  color: var(--white);
  margin-top: 1rem;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 1.5rem;
  width: 65vw;
  height: 80vh;
  background: var(--white);
  border-radius: 25px;
}
.head {
  display: flex;
  padding: 2rem 2rem;
  justify-content: space-between;
  border-bottom: solid var(--borderColor) 2px;
  width: 100%;
  width: 62vw;
  height: 7vh;
}
.dateUp1 {
  color: var(--bg2);
  font-size: 1.8rem;
  font-weight: 600;
}
.dateUp2 {
  color: var(--bg2);
  font-size: 1.8rem;
  font-weight: 400;
}
.dateDown {
  color: var(--taskgray);
}
.task {
  color: var(--taskgray);
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  margin-top: 1rem;
  padding: 1rem;
  width: 65vw;
  border-top: solid 2px var(--borderColor);
}
.center_div {
  min-height: 50vh;
  width: 65vw;
}
.bottom input {
  height: 1.5rem;
  padding: 0.2rem 0.7rem;
  width: 30vw;
  border: none;
  border-bottom: 2px solid var(--borderColor);
  outline: none;
}
.bottom button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  margin-left: -20px;
  outline: none;
  background: var(--bg2);
  color: var(--white);
  font-size: 2.2rem;
  cursor: pointer;
}
.bottom input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
